labs/shell/shlab-handout/*
!labs/shell/shlab-handout/tsh.c
!labs/shell/shlab-handout/README.md
labs/malloc/malloclab-handout(1)/malloclab-handout/*
!labs/malloc/malloclab-handout(1)/malloclab-handout/mm.c
labs/malloc/malloclab-handout(2)/malloclab-handout/*
!labs/malloc/malloclab-handout(2)/malloclab-handout/mm.c

